.section {
  padding: 2rem;
  /* background-color: var(--color-light-yellow); */
}

.heading {}

.text {
  font-size: 1.1rem;
}

.chip {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-grey-light);
  /* Use global light gray */
  border-radius: 30px;
  box-shadow: 0 4px 16px rgba(44, 62, 80, 0.25), 0 1.5px 6px rgba(44, 62, 80, 0.18);
  /* Darker, more elevated */
  padding: 0.5rem 1.2rem;
  font-size: 1.25rem;
  /* Increased font size */
  font-weight: 500;
  /* Increased font weight */
  margin: 1rem;
}

.chipIcon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}

.doctorsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.doctorColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.twoSectionRow {
  display: flex;
  gap: 2rem;
  margin: 4rem;
}

.leftSection {
  justify-items: flex-end;
  align-content: center;
}

.rightSection {
  display: flex;
  flex-direction: column;
}

.doctorDetailsCard {
  background-color: #f0f8f0;
  /* Very light green */
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  height: 100%;
}

.doctorDetailsCard ul {
  list-style-position: inside;
  padding-left: 0.5rem;
}

@media (max-width: 700px) {
  .doctorsRow {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .twoSectionRow {
    flex-direction: column;
    align-items: center;
  }


  .doctorCard {
    min-width: unset;
    width: 100%;
    max-width: 320px;
  }
}